@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@font-face {
  font-family: "Raleway";
  src: url("../assets/font/Raleway/static/Raleway-Light.ttf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/font/Raleway/static/Raleway-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/font/Raleway/static/Raleway-Medium.ttf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/font/Raleway/static/Raleway-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/font/Raleway/static/Raleway-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/font/Raleway/static/Raleway-Black.ttf");
  font-style: normal;
  font-weight: 900;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: "Raleway";
  font-weight: 400;
}

.button {
  @apply rounded-full py-3 px-9 flex items-center justify-center font-medium text-sm bg-yellow outline-none border-none cursor-pointer;
}
