@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Raleway" serif;
}

.button {
  @apply rounded-full py-2 px-7 flex items-center justify-center font-medium bg-[#ebc634];
}
